<!DOCTYPE html>
<html lang="en">
	
<!-- index.html , Mon, 22 Apr 2019 22:45:40 GMT -->
<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="Digital marketing agency, Digital marketing company, Digital marketing services">
		<meta name="author" content="coreUi">
		<meta name="description" content="Creative multipurpose is a beautiful website template designed for SEO & Digital Agency websites.">
		<meta name='og:image' content='/blog/electricien/images/logo/logo.pngimages/home/ogg.png'>
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- For Window Tab Color -->
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#233D63">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#233D63">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#233D63">
		<title>Creative Multi-Purpose HTML Template</title>
		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" th:href="@{/blog/electricien/images/fav-icon/icon.png}">
		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" th:href="@{/blog/electricien/css/style.css}">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" th:href="@{/blog/electricien/css/responsive.css}">

		<!-- Fix Internet Explorer ______________________________________-->
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="vendor/html5shiv.js"></script>
			<script src="vendor/respond.js"></script>
		<![endif]-->	
	</head>

	<body>
		<div class="main-page-wrapper">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<!-- Preloader -->
			<section>
				<div id="preloader">
					<div id="ctn-preloader" class="ctn-preloader">
						<div class="animation-preloader">
							<div class="spinner"></div>							
						</div>	
					</div>
				</div>
			</section>


			<!-- 
			=============================================
				Theme Main Menu
			============================================== 
			-->
			<div class="theme-main-menu theme-menu-one">
				<div class="logo"><a href="index.html"><img th:src="@{/blog/electricien/images/logo/logo.png}" alt="" /></a></div>
				<nav id="mega-menu-holder" class="navbar navbar-expand-lg">
					<div  class="container position-relative nav-container">
						<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					        <i class="flaticon-setup"></i>
					    </button>
					   <div class="collapse navbar-collapse" id="navbarSupportedContent">
					   		<ul class="navbar-nav">
							    <li class="nav-item active dropdown position-relative">
							    	<a href="index.html" class="nav-link dropdown-toggle" data-toggle="dropdown">Accueil.</a>
							    </li>
							    <li class="nav-item dropdown position-relative">
						            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Services.</a>
						            <ul class="dropdown-menu">
							            <li class="dropdown-submenu dropdown">
							              	<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">About Us</a>
							              	<ul class="dropdown-menu">
								                <li><a href="about-us-agency.html" class="dropdown-item">About Us agency</a></li>
								                <li><a href="about-us-standard.html" class="dropdown-item">About Us standard</a></li>
							                </ul>
							            </li>
							            <li class="dropdown-submenu dropdown">
							              	<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Project</a>
							              	<ul class="dropdown-menu">
								                <li><a href="project-full-width.html" class="dropdown-item">Project Full width</a></li>
								                <li><a href="project-minimal.html" class="dropdown-item">Project minimal</a></li>
								                <li><a href="project-creative.html" class="dropdown-item">Project creative <span>new</span></a></li>
								                <li><a href="project-ms-full-width.html" class="dropdown-item">Project masonry full</a></li>
								                <li><a href="project-ms-grid.html" class="dropdown-item">Project masonry grid</a></li>
								                <li><a href="project-standard.html" class="dropdown-item">Project Standard</a></li>
								                <li><a href="project-with-sidebar.html" class="dropdown-item">project with sidebar</a></li>
								                <li class="dropdown-submenu dropdown">
							                    	<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Project Details</a>
								                    <ul class="dropdown-menu">
								                    	<li><a href="project-details-standard.html" class="dropdown-item">Project Details standard</a></li>
								                    	<li><a href="project-details-agency.html" class="dropdown-item">Project Details agnecy</a></li>
								                    	<li><a href="project-details-business.html" class="dropdown-item">Project Details business</a></li>
								                    	<li><a href="project-details-creative.html" class="dropdown-item">Project Details creative</a></li>
								                    </ul>
							                  	</li>
							                </ul>
							            </li>
							            <li class="dropdown-submenu dropdown">
							              	<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Services</a>
							              	<ul class="dropdown-menu">
								                <li><a href="service-creative.html" class="dropdown-item">Service creative</a></li>
								                <li><a href="service-minimal.html" class="dropdown-item">service minimal</a></li>
								                <li><a href="service-modern.html" class="dropdown-item">service modern</a></li>
								                <li><a href="service-standard.html" class="dropdown-item">service Standard</a></li>
							                </ul>
							            </li>
							            <li class="dropdown-submenu dropdown">
							              	<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Team</a>
							              	<ul class="dropdown-menu">
								                <li><a href="team-business.html" class="dropdown-item">Team Business</a></li>
								                <li><a href="team-minimal.html" class="dropdown-item">Team minimal</a></li>
								                <li><a href="team-standard.html" class="dropdown-item">Team standard</a></li>
							                </ul>
							            </li>
						              	<li class="dropdown-submenu dropdown">
							              	<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Contact Us</a>
							              	<ul class="dropdown-menu">
								                <li><a href="contact-us-agency.html" class="dropdown-item">Contact Agency</a></li>
								                <li><a href="contact-us-minimal.html" class="dropdown-item">Contact Minimal</a></li>
								                <li><a href="contact-us-standard.html" class="dropdown-item">Contact standard</a></li>
							                </ul>
							            </li>
						             	<li class="dropdown-submenu dropdown">
							              	<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Error</a>
							              	<ul class="dropdown-menu">
								                <li><a href="404-creative.html" class="dropdown-item">error Creative</a></li>
								                <li><a href="404-standard.html" class="dropdown-item">error standard</a></li>
							                </ul>
							            </li>
						            </ul> <!-- /.dropdown-menu -->
						        </li>
						        <li class="nav-item dropdown position-relative">
						            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Features.</a>
						            <ul class="dropdown-menu">
							            <li class="dropdown-submenu dropdown">
							              	<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Shop</a>
							              	<ul class="dropdown-menu">
								                <li><a href="product-full-width.html" class="dropdown-item">Shop Full width</a></li>
								                <li><a href="product-with-sidebar.html" class="dropdown-item">Shop With sidebar</a></li>
								                <li><a href="shop.html" class="dropdown-item">Shop standard</a></li>
								                <li><a href="shop-details.html" class="dropdown-item">Single product</a></li>
							                </ul>
							            </li>
							            <li><a href="features.html" class="dropdown-item">Features</a></li>
							            <li><a href="faq.html" class="dropdown-item">Faq</a></li>
							            <li><a href="checkout.html" class="dropdown-item">Checkout</a></li>
								        <li><a href="cart.html" class="dropdown-item">Cart</a></li>
								        <li class="dropdown-submenu dropdown">
							              	<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">User pages <span>new</span></a>
							              	<ul class="dropdown-menu">
								                <li><a href="login-standard.html" class="dropdown-item">Login Standard</a></li>
								                <li><a href="login-minimal.html" class="dropdown-item">Login Minimal</a></li>
								                <li><a href="sign-up-standard.html" class="dropdown-item">Sign-Up Standard</a></li>
								                <li><a href="sign-up-minimal.html" class="dropdown-item">Sign-Up Minimal</a></li>
							                </ul>
							            </li>
						            </ul> <!-- /.dropdown-menu -->
						        </li>
						        <li class="nav-item dropdown">
						            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">elements.</a>
						            <ul class="dropdown-menu mega-container">
							            <li>
							                <div class="clearfix">
							                  	<div class="row">
								                    <div class="col-lg-3 col-md-3 mt-md-3 mb-md-3 mt-lg-3 mb-lg-3">
								                    	<h6 class="mega-menu-title">Element 1</h6>
								                    	<ul class="list-unstyled mega-dropdown-list">
									                        <li><a href="ui-testimonial.html"><img src="/blog/electricien/images/menu-icon/icon1.svg" alt="" class="svg" />Testimonials</a></li>
									                        <li><a href="ui-pricing-table.html"><img src="blog/electricien/images/menu-icon/icon2.svg" alt="" class="svg" />Pricing Plan</a></li>
									                        <li><a href="ui-team.html"><img src="blog/electricien/images/menu-icon/icon3.svg" alt="" class="svg" />Team</a></li>
									                        <li><a href="ui-dropdown.html"><img src="blog/electricien/images/menu-icon/icon4.svg" alt="" class="svg" />Dropdown</a></li>
									                        <li><a href="ui-tooltips.html"><img src="blog/electricien/images/menu-icon/icon5.svg" alt="" class="svg" />Tooltips</a></li>
									                        <li><a href="ui-header.html"><img src="blog/electricien/images/menu-icon/icon6.svg" alt="" class="svg" />Header <span>New</span></a></li>
								                    	</ul>
								                    </div>
								                    <div class="col-lg-3 col-md-3 mt-md-3 mb-md-3 mt-lg-3 mb-lg-3">
								                    	<h6 class="mega-menu-title">Element 2</h6>
								                    	<ul class="list-unstyled mega-dropdown-list">
									                        <li><a href="ui-accordion.html"><img src="blog/electricien/images/menu-icon/icon7.svg" alt="" class="svg">Accordion</a></li>
									                        <li><a href="ui-alert.html"><img src="blog/electricien/images/menu-icon/icon8.svg" alt="" class="svg">Alert</a></li>
									                        <li><a href="ui-badges.html"><img src="blog/electricien/images/menu-icon/icon9.svg" alt="" class="svg">Badges</a></li>
									                        <li><a href="ui-gallery.html"><img src="blog/electricien/images/menu-icon/icon10.svg" alt="" class="svg">Gallery</a></li>
									                        <li><a href="ui-typography.html"><img src="blog/electricien/images/menu-icon/icon11.svg" alt="" class="svg">Typography</a></li>
									                        <li><a href="ui-tabs.html"><img src="blog/electricien/images/menu-icon/icon18.svg" alt="" class="svg">Tabs <span>New</span></a></li>
								                    	</ul>								                    </div>
								                    <div class="col-lg-3 col-md-3 mt-md-3 mb-md-3 mt-lg-3 mb-lg-3">
								                    	<h6 class="mega-menu-title">Element 3</h6>
								                    	<ul class="list-unstyled mega-dropdown-list">
									                        <li><a href="ui-blog-post.html"><img src="blog/electricien/images/menu-icon/icon12.svg" alt="" class="svg">Post</a></li>
									                        <li><a href="ui-breadcrumbs.html"><img src="blog/electricien/images/menu-icon/icon13.svg" alt="" class="svg">Breadcrumbs</a></li>
									                        <li><a href="ui-button.html"><img src="blog/electricien/images/menu-icon/icon14.svg" alt="" class="svg">Button</a></li>
									                        <li><a href="ui-list.html"><img src="blog/electricien/images/menu-icon/icon15.svg" alt="" class="svg">List</a></li>
									                        <li><a href="ui-footer.html"><img src="blog/electricien/images/menu-icon/icon16.svg" alt="" class="svg">Footer <span>New</span></a></li>
								                    	</ul>
								                    </div>
								                    <div class="col-lg-3 col-md-3 mt-md-3 mb-md-3 mt-lg-3 mb-lg-3">
								                    	<h6 class="mega-menu-title">Element 4</h6>
								                    	<ul class="list-unstyled mega-dropdown-list">
									                        <li><a href="ui-color.html"><img src="blog/electricien/images/menu-icon/icon17.svg" alt="" class="svg">Color</a></li>
									                        <li><a href="ui-contact-form.html"><img src="blog/electricien/images/menu-icon/icon18.svg" alt="" class="svg">Contact Form</a></li>
									                        <li><a href="ui-counter.html"><img src="blog/electricien/images/menu-icon/icon19.svg" alt="" class="svg">Counter</a></li>
									                        <li><a href="ui-pagination.html"><img src="blog/electricien/images/menu-icon/icon20.svg" alt="" class="svg">Pagination</a></li>
									                        <li><a href="ui-modal.html"><i class="icon flaticon-login"></i> Modal <span>New</span></a></li>
								                    	</ul>
								                    </div>
							                	</div>
							              	</div>
							            </li>
						        	</ul>
						        </li>
							    <li class="nav-item dropdown position-relative">
						            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">News.</a>
						            <ul class="dropdown-menu">
							            <li><a href="blog-default.html" class="dropdown-item">Blog default</a></li>
							            <li><a href="blog-filter.html" class="dropdown-item">Blog filter</a></li>
							            <li><a href="blog-full-grid.html" class="dropdown-item">Blog Full Grid</a></li>
								        <li><a href="blog-masonry.html" class="dropdown-item">blog masonry</a></li>
								        <li><a href="blog-details.html" class="dropdown-item">blog details</a></li>
								        <li><a href="blog-details-full-grid.html" class="dropdown-item">blog details full grid</a></li>
						            </ul> <!-- /.dropdown-menu -->
						        </li>
						   </ul>
					   </div>
					</div> <!-- /.container -->
				</nav> <!-- /#mega-menu-holder -->
				<div class="header-right-widget">
					<ul>
						<li class="call-us">Appelez nous <a href="tel:0609397716">06 09 39 77 16</a></li>
						<li><a href="contact-us-standard.html" class="contact-us white-shdw-button">DEVIS GRATUIT <i class="icon flaticon-next"></i></a></li>
					</ul>
				</div> <!-- /.header-right-widget -->
			</div> <!-- /.theme-main-menu -->



			
			<!-- 
			=============================================
				Theme Main Banner One
			============================================== 
			-->
			<div id="theme-banner-one">
				<div class="illustration wow zoomIn animated" data-wow-delay="1s" data-wow-duration="2s">
					<img src="blog/electricien/images/shape/bg_home.png" alt="">
				</div>
				<img src="blog/electricien/images/shape/oval-1.svg" alt="" class="oval-one">
				<img src="blog/electricien/images/shape/shape-1.svg" alt="" class="shape-three">
				<img src="blog/electricien/images/shape/shape-55.svg" alt="" class="shape-four">
				<img src="blog/electricien/images/shape/shape-56.svg" alt="" class="shape-five">
				<img src="blog/electricien/images/shape/shape-57.svg" alt="" class="shape-six">
				<img src="blog/electricien/images/shape/shape-58.svg" alt="" class="shape-seven">
				<img src="blog/electricien/images/shape/shape-59.svg" alt="" class="shape-eight">
				<img src="blog/electricien/images/shape/shape-60.svg" alt="" class="shape-nine">
				<img src="blog/electricien/images/shape/shape-61.svg" alt="" class="shape-ten">
				<img src="blog/electricien/images/shape/shape-62.svg" alt="" class="shape-eleven">
				<div class="container">
					<div class="main-wrapper">

			
						<h1 class="main-title wow fadeInUp animated" data-wow-delay="0.4s">Electricien Express  <br>Paris.</h1>
						<p class="sub-title wow fadeInUp animated" data-wow-delay="0.9s">Meilleur electricien dépanneur dans la régions parisienne. <br> faites lui confiance.</p>
						<ul class="button-group lightgallery">
							<li><a href="about-us-standard.html" class="more-button solid-button-one wow fadeInLeft animated" data-wow-delay="1.5s">Contactez nous <i class="fa fa-angle-right icon-right" aria-hidden="true"></i></a></li>

							<li><a data-fancybox href="https://www.youtube.com/embed/vsSQEUSQkIs" class="fancybox video-button-one wow fadeInRight animated" data-wow-delay="1.5s">See live demo. <i class="flaticon-play-button icon-right"></i></a></li>
						</ul>
					</div> <!-- /.main-wrapper -->
				</div> <!-- /.container -->
			</div> <!-- /#theme-banner-one -->
			
			
			<!-- 
			=============================================
				What WE Do
			============================================== 
			-->
			<div class="agn-what-we-do pt-150 pb-200">
				<img src="blog/electricien/images/shape/shape-63.svg" alt="" class="shape-one" data-aos="fade-right">
				<img src="blog/electricien/images/shape/shape-56.svg" alt="" class="shape-two">
				<div class="container">
					<div class="theme-title-one text-center">
						<div class="upper-title">What We Do</div>
						<h2 class="main-title">The things motivates me is common <br>form of motivation.</h2>
					</div> <!-- /.theme-title-one -->

					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="single-block">
								<div class="icon">
									<img src="blog/electricien/images/shape/shape-2.svg" alt="" class="bg">
									<img src="blog/electricien/images/icon/icon1.svg" alt="" class="shape" data-aos="zoom-in-down">
								</div>
								<h5 class="title">Strategy & Research.</h5>
								<p>Lorem ipsum dolor si amet, an dus situ  sint pertinacia constituto, mir dignsius quo great.</p>
								<a href="#" class="more-button">More About Strategy & Research</a>
							</div> <!-- /.single-block -->
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="single-block">
								<div class="icon">
									<img src="blog/electricien/images/shape/shape-2.svg" alt="" class="bg">
									<img src="blog/electricien/images/icon/icon2.svg" alt="" class="shape" data-aos="zoom-in-down">
								</div>
								<h5 class="title">Design & Development.</h5>
								<p>Lorem ipsum dolor si amet, an dus situ  sint pertinacia constituto, mir dignsius quo great.</p>
								<a href="#" class="more-button">More About Design & Development</a>
							</div> <!-- /.single-block -->
						</div>

						<div class="col-lg-4 co-12 d-md-none d-lg-block">
							<div class="single-block">
								<div class="icon">
									<img src="blog/electricien/images/shape/shape-2.svg" alt="" class="bg">
									<img src="blog/electricien/images/icon/icon3.svg" alt="" class="shape" data-aos="zoom-in-down">
								</div>
								<h5 class="title">Managment & Marketing.</h5>
								<p>Lorem ipsum dolor si amet, an dus situ  sint pertinacia constituto, mir dignsius quo great.</p>
								<a href="#" class="more-button">More About Managment & Marketing</a>
							</div> <!-- /.single-block -->
						</div>
					</div>
				</div> <!-- /.container -->
			</div> <!-- /.agn-what-we-do -->


			<!-- 
			=============================================
				About Us
			============================================== 
			-->
			<div class="agn-about-us">
				<img src="blog/electricien/images/shape/shape-61.svg" alt="" class="shape-one">
				<img src="blog/electricien/images/shape/shape-64.svg" alt="" class="shape-two" data-aos="fade-left">
				<img src="blog/electricien/images/shape/shape-65.svg" alt="" class="shape-three" data-aos="fade-right">
				<img src="blog/electricien/images/shape/shape-60.svg" alt="" class="shape-four">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 order-lg-last">
							<div class="text-wrapper">
								<div class="theme-title-one">
									<div class="upper-title">About us</div>
									<h2 class="main-title">Leading Digital Agency for Business Solution.</h2>
								</div> <!-- /.theme-title-one -->
								<p>Lorem ipsum dolor sit amet, hendrerit omittantur mel, es vidit animal iracundia. Ius te altera essent incorrupte. Id alien accu consetetur eam, nibh aliquam iracundia.</p>
								<p class="quote">Lorem ipsum dolor sit amet, hendrerit omittantur mel et, est ut vidit animal iracundia luis.</p>
								<div class="author"><span class="name">Rashed Kabir, </span>CEO CreativeGigs</div>
								<img src="blog/electricien/images/shape/signature.png" alt="">
							</div>
						</div>
						<div class="col-lg-6 order-lg-first">
							<div class="img-box">
								<img src="blog/electricien/images/home/1.jpg" alt="" class="main-img">
							</div>
						</div>
					</div>
				</div> <!-- /.container -->
				<a href="about-us-agency.html" class="learn-more theme-button-two" data-aos="fade-left">Learn More <i class="fa fa-angle-right icon-right" aria-hidden="true"></i></a>
			</div> <!-- /.agn-about-us -->
			


			<!-- 
			=============================================
				Theme Counter
			============================================== 
			-->
			<div class="agn-counter-section">
				<img src="blog/electricien/images/shape/shape-55.svg" alt="" class="shape-one">
				<img src="blog/electricien/images/shape/shape-59.svg" alt="" class="shape-two">
				<img src="blog/electricien/images/shape/shape-61.svg" alt="" class="shape-three">
				<div class="container">
					<div class="main-wrapper">
						<div class="theme-title-one text-center">
							<h2 class="main-title">We completed 1500+ Projects Yearly <br>Successfully & counting</h2>
						</div> <!-- /.theme-title-one -->

						<div class="counter-wrapper">
							<div class="row">
								<div class="col-sm-4">
									<div class="single-counter-box">
							      		<h2 class="number"><span class="timer" data-from="0" data-to="16" data-speed="1200" data-refresh-interval="5">0</span>k</h2>
							      		<p>Global Customer</p>
							      	</div> <!-- /.single-counter-box -->
								</div>
								<div class="col-sm-4">
									<div class="single-counter-box">
							      		<h2 class="number"><span class="timer" data-from="0" data-to="500" data-speed="1200" data-refresh-interval="5">0</span>+</h2>
							      		<p>Completed Projects</p>
							      	</div> <!-- /.single-counter-box -->
								</div>
								<div class="col-sm-4">
									<div class="single-counter-box">
							      		<h2 class="number"><span class="timer" data-from="0" data-to="460" data-speed="1200" data-refresh-interval="5">0</span>+</h2>
							      		<p>Experts Worker</p>
							      	</div> <!-- /.single-counter-box -->
								</div>
							</div>
						</div> <!-- /.counter-wrapper -->
					</div> <!-- /.main-wrapper -->

					<div class="bottom-banner">
						<div class="clearfix">
							<div class="text">
								<h3 class="title">Have any question about us?</h3>
								<p>Dont’t hesitate to contact us.</p>
							</div>
							<a href="contact-us-standard.html" class="contact solid-button-one">Contact us</a>
						</div>
					</div>
				</div> <!-- /.container -->
			</div> <!-- /.agn-counter-section -->


			<!-- 
			=============================================
				Our Gallery
			============================================== 
			-->
			<div class="agn-our-gallery">
				<img src="blog/electricien/images/shape/shape-62.svg" alt="" class="shape-one">
				<img src="blog/electricien/images/shape/shape-55.svg" alt="" class="shape-two">
				<img src="blog/electricien/images/shape/shape-61.svg" alt="" class="shape-three">
				<div class="container">
					<div class="theme-title-one">
						<h2 class="main-title">Check some of our <br>Recent work.</h2>
						<p class="bottom-title">Click the below button to check all of our work.</p>
					</div> <!-- /.theme-title-one -->
				</div> <!-- /.container -->
				<div class="main-wrapper">
					<a href="product-full-width.html" class="view-gallery">View Gallery</a>
					<div class="gallery-slider lightgallery">
						<div class="item">
							<div class="img-box">
								<img src="blog/electricien/images/portfolio/1.jpg" alt="">
								<div class="hover-content">
									<a href="blog/electricien/images/portfolio/1.jpg" class="icon zoom fancybox" data-fancybox="images" data-caption="My caption">+</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="img-box">
								<img src="blog/electricien/images/portfolio/2.jpg" alt="">
								<div class="hover-content">
									<a href="blog/electricien/images/portfolio/2.jpg" class="icon zoom fancybox" data-fancybox="images" data-caption="My caption">+</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="img-box">
								<img src="blog/electricien/images/portfolio/3.jpg" alt="">
								<div class="hover-content">
									<a href="blog/electricien/images/portfolio/3.jpg" class="icon zoom fancybox" data-fancybox="images" data-caption="My caption">+</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="img-box">
								<img src="blog/electricien/images/portfolio/4.jpg" alt="">
								<div class="hover-content">
									<a href="blog/electricien/images/portfolio/4.jpg" class="icon zoom fancybox" data-fancybox="images" data-caption="My caption">+</a>
								</div>
							</div>
						</div>
					</div> <!-- /.gallery-slider -->
				</div> <!-- /.main-wrapper -->
			</div> <!-- /.agn-our-gallery -->


			<!--
			=====================================================
				Our Pricing
			=====================================================
			-->
			<div class="agn-our-pricing pt-150 pb-200">
				<img src="blog/electricien/images/shape/shape-55.svg" alt="" class="shape-one">
				<img src="blog/electricien/images/shape/shape-62.svg" alt="" class="shape-two">
				<img src="blog/electricien/images/shape/shape-1.svg" alt="" class="shape-three">
				<img src="blog/electricien/images/shape/shape-60.svg" alt="" class="shape-four">
				<img src="blog/electricien/images/shape/shape-57.svg" alt="" class="shape-five">
				<div class="container">
					<div class="theme-title-one text-center">
						<div class="upper-title">Pricing Plan</div>
						<h2 class="main-title">No Hidden Charges! Choose <br>your Plan.</h2>
					</div> <!-- /.theme-title-one -->
				</div> <!-- /.container -->

				<div class="pricing-tab-menu mt-70">
					<div class="nav-wrapper">
						<ul class="nav nav-tabs justify-content-center">
							<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#month">Monthly</a></li>
						    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#annual">Annual</a></li>
						</ul>
					</div>
					<p>Save 30% on annual plan</p>
				</div> <!-- /.pricing-tab-menu -->

				<div class="tab-content">
					<!-- ^^^^^^^^^^^^^^^^^^^^^ Monthly ^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
					<div id="month" class="tab-pane fade show active">
						<div class="table-wrapper">
							<div class="inner-table clearfix">
								<ul class="pr-list-text">
									<li>Full Access Library</li>
									<li>Multiple User</li>
									<li>Refund</li>
									<li>24/7 Support</li>
								</ul> <!-- /.pr-list-text -->
								<div class="pr-column">
									<div class="pr-header">
										<div class="price">$2300<span>/MO</span></div>
										<h4 class="title">Sandwich</h4>
										<div class="package">Reguler</div>
									</div> <!-- /.pr-header -->
									<ul class="pr-body">
										<li>
											<div class="pr-text">Full Access Library</div>
											<i class="icon flaticon-cancel none"></i>
										</li>
										<li>
											<div class="pr-text">Multiple User</div>
											<i class="icon flaticon-cancel none"></i>
										</li>
										<li>
											<div class="pr-text">Refund</div>
											<i class="icon flaticon-cancel none"></i>
										</li>
										<li>
											<div class="pr-text">24/7 Support</div>
											<i class="icon flaticon-tick available"></i>
										</li>
									</ul>
									<div class="pr-footer">
										<a href="#" class="choose-button line-button-two">Choose Plan</a>
										<p>Get your 30 day free trial</p>
									</div>
								</div> <!-- /.pr-column -->
								<div class="pr-column">
									<div class="pr-header">
										<div class="price">$6000<span>/MO</span></div>
										<h4 class="title">Subway</h4>
										<div class="package">Premium</div>
									</div> <!-- /.pr-header -->
									<ul class="pr-body">
										<li>
											<div class="pr-text">Full Access Library</div>
											<i class="icon flaticon-cancel none"></i>
										</li>
										<li>
											<div class="pr-text">Multiple User</div>
											<i class="icon flaticon-cancel none"></i>
										</li>
										<li>
											<div class="pr-text">Refund</div>
											<i class="icon flaticon-tick available"></i>
										</li>
										<li>
											<div class="pr-text">24/7 Support</div>
											<i class="icon flaticon-tick available"></i>
										</li>
									</ul>
									<div class="pr-footer">
										<a href="#" class="choose-button line-button-two">Choose Plan</a>
										<p>Get your 30 day free trial</p>
									</div>
								</div> <!-- /.pr-column -->
								<div class="pr-column">
									<div class="pr-header">
										<div class="price">$9500<span>/MO</span></div>
										<h4 class="title">Burger</h4>
										<div class="package">Corporate</div>
									</div> <!-- /.pr-header -->
									<ul class="pr-body">
										<li>
											<div class="pr-text">Full Access Library</div>
											<i class="icon flaticon-tick available"></i>
										</li>
										<li>
											<div class="pr-text">Multiple User</div>
											<i class="icon flaticon-tick available"></i>
										</li>
										<li>
											<div class="pr-text">Refund</div>
											<i class="icon flaticon-tick available"></i>
										</li>
										<li>
											<div class="pr-text">24/7 Support</div>
											<i class="icon flaticon-tick available"></i>
										</li>
									</ul>
									<div class="pr-footer">
										<a href="#" class="choose-button line-button-two">Choose Plan</a>
										<p>Get your 30 day free trial</p>
									</div>
								</div> <!-- /.pr-column -->
							</div> <!-- /.inner-table -->
						</div> <!-- /.table-wrapper -->
					</div> <!-- /#month -->

					<!-- ^^^^^^^^^^^^^^^^^^^^^ Yearly ^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
				  	<div id="annual" class="tab-pane fade">
				  		<div class="table-wrapper">
							<div class="inner-table clearfix">
								<ul class="pr-list-text">
									<li>Full Access Library</li>
									<li>Multiple User</li>
									<li>Refund</li>
									<li>24/7 Support</li>
								</ul> <!-- /.pr-list-text -->
								<div class="pr-column">
									<div class="pr-header">
										<div class="price">$6300<span>/YR</span></div>
										<h4 class="title">Sandwich</h4>
										<div class="package">Reguler</div>
									</div> <!-- /.pr-header -->
									<ul class="pr-body">
										<li>
											<div class="pr-text">Full Access Library</div>
											<i class="icon flaticon-cancel none"></i>
										</li>
										<li>
											<div class="pr-text">Multiple User</div>
											<i class="icon flaticon-cancel none"></i>
										</li>
										<li>
											<div class="pr-text">Refund</div>
											<i class="icon flaticon-cancel none"></i>
										</li>
										<li>
											<div class="pr-text">24/7 Support</div>
											<i class="icon flaticon-tick available"></i>
										</li>
									</ul>
									<div class="pr-footer">
										<a href="#" class="choose-button line-button-two">Choose Plan</a>
										<p>Get your 30 day free trial</p>
									</div>
								</div> <!-- /.pr-column -->
								<div class="pr-column">
									<div class="pr-header">
										<div class="price">$8000<span>/YR</span></div>
										<h4 class="title">Subway</h4>
										<div class="package">Premium</div>
									</div> <!-- /.pr-header -->
									<ul class="pr-body">
										<li>
											<div class="pr-text">Full Access Library</div>
											<i class="icon flaticon-cancel none"></i>
										</li>
										<li>
											<div class="pr-text">Multiple User</div>
											<i class="icon flaticon-cancel none"></i>
										</li>
										<li>
											<div class="pr-text">Refund</div>
											<i class="icon flaticon-tick available"></i>
										</li>
										<li>
											<div class="pr-text">24/7 Support</div>
											<i class="icon flaticon-tick available"></i>
										</li>
									</ul>
									<div class="pr-footer">
										<a href="#" class="choose-button line-button-two">Choose Plan</a>
										<p>Get your 30 day free trial</p>
									</div>
								</div> <!-- /.pr-column -->
								<div class="pr-column">
									<div class="pr-header">
										<div class="price">$9900<span>/YR</span></div>
										<h4 class="title">Burger</h4>
										<div class="package">Corporate</div>
									</div> <!-- /.pr-header -->
									<ul class="pr-body">
										<li>
											<div class="pr-text">Full Access Library</div>
											<i class="icon flaticon-tick available"></i>
										</li>
										<li>
											<div class="pr-text">Multiple User</div>
											<i class="icon flaticon-tick available"></i>
										</li>
										<li>
											<div class="pr-text">Refund</div>
											<i class="icon flaticon-tick available"></i>
										</li>
										<li>
											<div class="pr-text">24/7 Support</div>
											<i class="icon flaticon-tick available"></i>
										</li>
									</ul>
									<div class="pr-footer">
										<a href="#" class="choose-button line-button-two">Choose Plan</a>
										<p>Get your 30 day free trial</p>
									</div>
								</div> <!-- /.pr-column -->
							</div> <!-- /.inner-table -->
						</div> <!-- /.table-wrapper -->
				  	</div> <!-- /#annual -->
				</div>
				
			</div> <!-- /.agn-our-pricing -->





			<!--
			=====================================================
				Testimonial
			=====================================================
			-->
			<div class="agn-testimonial">
				<div class="shape-box">
					<img src="blog/electricien/images/shape/4.png" alt="">
					<img src="blog/electricien/images/home/2.jpg" alt="" class="people">
					<img src="blog/electricien/images/home/3.jpg" alt="" class="people">
					<img src="blog/electricien/images/home/4.jpg" alt="" class="people">
					<img src="blog/electricien/images/home/5.jpg" alt="" class="people">
					<img src="blog/electricien/images/home/6.jpg" alt="" class="people">
					<img src="blog/electricien/images/home/7.jpg" alt="" class="people">
					<img src="blog/electricien/images/shape/shape-6.svg" alt="" class="shape-one">
				</div>
				<img src="blog/electricien/images/shape/shape-66.svg" alt="" class="shape-two" data-aos="fade-left">
				<div class="container clearfix">
					<div class="main-content">
						<div class="theme-title-one">
							<div class="upper-title">Testimonials</div>
							<h2 class="main-title">Check what’s our client say about us!</h2>
						</div> <!-- /.theme-title-one -->

						<div class="agn-testimonial-slider">
							<div class="item">
								<p>Having a home based business is a wonderful asset to your life. The problem still stands, when it comes timeadvertise your business for a cheap cost. I know you have looked for to answer everywhere; I am here to share a few simple creative ways,</p>
								<div class="author-info clearfix">
									<img src="blog/electricien/images/home/2.jpg" alt="" class="author-img">
									<div class="name-info">
										<h6 class="name">Rashed kabir</h6>
										<span>Designer</span>
									</div>
								</div>
							</div>
							<div class="item">
								<p>Having a home based business is a wonderful asset to your life. The problem still stands, when it comes timeadvertise your business for a cheap cost. I know you have looked for to answer everywhere; I am here to share a few simple creative ways,</p>
								<div class="author-info clearfix">
									<img src="blog/electricien/images/home/3.jpg" alt="" class="author-img">
									<div class="name-info">
										<h6 class="name">Zubayer hasan</h6>
										<span>Developer</span>
									</div>
								</div>
							</div>
						</div> <!-- /.agn-testimonial-slider -->
					</div> <!-- /.main-content -->
				</div> <!-- /.container -->
			</div> <!-- /.agn-testimonial -->





			<!--
			=====================================================
				Our Blog
			=====================================================
			-->
			<div class="agn-home-blog our-blog-one">
				<img src="blog/electricien/images/shape/shape-58.svg" alt="" class="shape-one">
				<img src="blog/electricien/images/shape/shape-57.svg" alt="" class="shape-two">
				<img src="blog/electricien/images/shape/shape-9.svg" alt="" class="shape-three">
				<img src="blog/electricien/images/shape/shape-55.svg" alt="" class="shape-four">
				<div class="container">
					<div class="theme-title-one text-center">
						<div class="upper-title">Our Blog</div>
						<h2 class="main-title">Our Company News</h2>
					</div> <!-- /.theme-title-one -->

					<div class="blog-one-slider">
						<div class="item">
							<div class="single-blog-post">
								<div class="flip-box-front">
									<div class="clearfix">
										<img src="blog/electricien/images/home/2.jpg" alt="" class="author-img">
										<div class="author-info">
											<h6 class="name">Rashed Kabir.</h6>
											<div class="date">06 Aug 2018</div>
										</div>
									</div>
									<a href="#" class="title">Internet advertising what Went wrong.</a>
									<p>Having a home based business is a wonderful asset to your life. The main problem time advertise..</p>
								</div> <!-- /.flip-box-front -->
								<div class="flip-box-back">
									<div class="author-info">
										<h6 class="name">Rashed Kabir.</h6>
										<div class="date">06 Aug 2018</div>
									</div>
									<a href="blog-details.html" class="title">Internet advertising what Went wrong.</a>
									<a href="blog-details.html" class="more"><i class='flaticon-next-1'></i></a>
								</div> <!-- /.flip-box-back -->
							</div> <!-- /.single-blog-post -->
						</div>

						<div class="item">
							<div class="single-blog-post">
								<div class="flip-box-front">
									<div class="clearfix">
										<img src="blog/electricien/images/home/5.jpg" alt="" class="author-img">
										<div class="author-info">
											<h6 class="name">Jannatul Ferdus.</h6>
											<div class="date">07 Aug 2018</div>
										</div>
									</div>
									<a href="#" class="title">Internet advertising what Went wrong.</a>
									<p>Having a home based business is a wonderful asset to your life. The main problem time advertise..</p>
								</div> <!-- /.flip-box-front -->
								<div class="flip-box-back">
									<div class="author-info">
										<h6 class="name">Jannatul Ferdus.</h6>
										<div class="date">07 Aug 2018</div>
									</div>
									<a href="blog-details.html" class="title">Internet advertising what Went wrong.</a>
									<a href="blog-details.html" class="more"><i class='flaticon-next-1'></i></a>
								</div> <!-- /.flip-box-back -->
							</div> <!-- /.single-blog-post -->
						</div>

						<div class="item">
							<div class="single-blog-post">
								<div class="flip-box-front">
									<div class="clearfix">
										<img src="/blog/electricien/images/home/6.jpg" alt="" class="author-img" />
										<div class="author-info">
											<h6 class="name">Zubayer hasan.</h6>
											<div class="date">05 Aug 2018</div>
										</div>
									</div>
									<a href="#" class="title">Internet advertising what Went wrong.</a>
									<p>Having a home based business is a wonderful asset to your life. The main problem time advertise..</p>
								</div> <!-- /.flip-box-front -->
								<div class="flip-box-back">
									<div class="author-info">
										<h6 class="name">Zubayer hasan.</h6>
										<div class="date">05 Aug 2018</div>
									</div>
									<a href="blog-details.html" class="title">Internet advertising what Went wrong.</a>
									<a href="blog-details.html" class="more"><i class='flaticon-next-1'></i></a>
								</div> <!-- /.flip-box-back -->
							</div> <!-- /.single-blog-post -->
						</div>
					</div>
				</div>
			</div> <!-- /.our-blog-one -->



			<!-- 
			=============================================
				Contact Banner
			============================================== 
			-->
			<div class="agn-contact-banner">
				<div class="container">
					<h2 class="title">Do you have any projects? <br>Contact us.</h2>
					<a href="contact-us-agency.html" class="contact-button line-button-one">Contact Us</a>
				</div> <!-- /.contianer -->
			</div> <!-- /.agn-contact-banner -->


			<!--
			=====================================================
				Footer
			=====================================================
			-->
			<footer class="theme-footer-one">
				<div class="shape-one" data-aos="zoom-in-right"></div>
				<img src="/blog/electricien/images/shape/shape-67.svg" alt="" class="shape-two">
				<div class="top-footer">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-sm-6 col-12 about-widget" data-aos="fade-up">
								<a href="index.html" class="logo"><img src="/blog/electricien/images/logo/logo2.svg" alt=""></a>
								<a href="#" class="email">create.inc@company.com</a>
								<a href="#" class="phone">992.234.5532</a>
								
							</div> <!-- /.about-widget -->
							<div class="col-lg-3 col-lg-3 col-sm-6 col-12 footer-list" data-aos="fade-up">
								<h5 class="title">Services</h5>
								<ul>
									<li><a href="#">Web Design</a></li>
									<li><a href="#">Development</a></li>
									<li><a href="#">Wordpress</a></li>
									<li><a href="#">Online Marketing</a></li>
									<li><a href="#">Content</a></li>
								</ul>
							</div> <!-- /.footer-recent-post -->
							<div class="col-lg-3 col-sm-6 col-12 footer-list" data-aos="fade-up">
								<h5 class="title">About us</h5>
								<ul>
									<li><a href="about-us-standard.html">About us</a></li>
									<li><a href="project-standard.html">Work Portfolio</a></li>
									<li><a href="team-standard.html">Team</a></li>
									<li><a href="#">Plan & Pricing</a></li>
									<li><a href="blog-default.html">News</a></li>
								</ul>
							</div> <!-- /.footer-list -->
							<div class="col-lg-3 col-lg-2 col-sm-6 col-12 footer-information" data-aos="fade-up">
								<h5 class="title">Our Address</h5>
								<p>00 Orville Road Apt. 728 <br>California, USA</p>
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.top-footer -->
				
				<div class="container">
					<div class="bottom-footer">
						<div class="clearfix">
							<p>&copy; 2019 copyright all right reserved</p>
							<ul>
								<li><a href="#">Privace & Policy.</a></li>
								<li><a href="faq.html">Faq.</a></li>
								<li><a href="#">Terms.</a></li>
							</ul>
						</div>
					</div> <!-- /.bottom-footer -->
				</div>
			</footer> <!-- /.theme-footer-one -->
			

	        

	        <!-- Scroll Top Button -->
			<button class="scroll-top tran3s">
				<i class="fa fa-angle-up" aria-hidden="true"></i>
			</button>
			


		<!-- Optional JavaScript _____________________________  -->

    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<!-- jQuery -->
		<script src="/blog/electricien/vendor/jquery.2.2.3.min.js"></script>
		<!-- Popper js -->
		<script src="/blog/electricien/vendor/popper.js/popper.min.js" ></script>
		<!-- Bootstrap JS -->
		<script src="/blog/electricien/vendor/bootstrap/js/bootstrap.min.js"></script>
	    <!-- menu  -->
		<script src="blog/electricien/vendor/mega-menu/assets/js/custom.js" ></script>
		<!-- AOS js -->
		<script src="blog/electricien/vendor/aos-next/dist/aos.js}" ></script>
		<!-- WOW js -->
		<script src="blog/electricien/vendor/WOW-master/dist/wow.min.js"></script>
		<!-- owl.carousel -->
		<script src="/blog/electricien/vendor/owl-carousel/owl.carousel.min.js"></script>
		<!-- js count to -->
		<script src="blog/electricien/vendor/jquery.appear.js" ></script>
		<script src="blog/electricien/vendor/jquery.countTo.js"></script>
		<!-- Fancybox -->
		<script src="blog/electricien/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
		<script src="../../../translate.google.com/translate_a/elementa0d8.html?cb=googleTranslateElementInit"></script>


		<!-- Theme js -->
		<script th:src="@{/blog/electricien/js/lang.js}"></script>
		<script th:src="@{/blog/electricien/js/theme.js}"></script>
		
		</div> <!-- /.main-page-wrapper -->
	</body>
</html>